body {
    background-color: red;

    text-align: center;
}

h1 {
    color: #3d3d3d;
    font-size: 4rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    width: 15rem;
    height: 5rem;
    border-radius: 5px;

    display: inline-block;

    transition: width 0.5s;
}

button:hover {
    background-color: #3d3d3d;
    color: #ddd;
    width: 20rem;
}